// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body {
  margin:33px;
  font-size: 13px;
}

p {
  margin:33px;
  font-size:13px;
}

a:visited {
    color: #666;
}

a {
    color: #000;
}
